{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    <div class="container">
        <h2>login</h2>
        <form class="login-form" method="POST" action="">
            {{ form.hidden_tag() }}
            <h2>Crie uma conta</h2>

            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
    
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="form-control form-control-lg") }}
            {% endif %}

            <div class="form-group">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
    
            {{ form.submit(class="btn") }}
            <small class="text-muted ml-2"></small>
                <a href="#">forgot password?</a>
            <small>no account? <a href="{{ url_for('register') }}">register</a></small>
        </form>
    </div>
{% endblock content%}